In [1]:
squares = []
for i in range(10):
    squares.append(i*i)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
odd_squares = []
for i in range(10):
    if i % 2 == 0:
        continue
    odd_squares.append(i*i)
    
odd_squares

[1, 9, 25, 49, 81]

In [4]:
[i*i for i in range(10) if i % 2]

[1, 9, 25, 49, 81]

In [5]:
lines = ['this is the first', 'this is the second', 'this is the third']

In [7]:
output = []

for line in lines:
    for char in line:
        output.append(char)

output

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 's',
 'e',
 'c',
 'o',
 'n',
 'd',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'h',
 'i',
 'r',
 'd']

In [9]:
[char for line in lines for char in line]

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 's',
 'e',
 'c',
 'o',
 'n',
 'd',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 't',
 'h',
 'i',
 'r',
 'd']

In [10]:
{char for line in lines for char in line} # creates a set from the list

{' ', 'c', 'd', 'e', 'f', 'h', 'i', 'n', 'o', 'r', 's', 't'}

In [11]:
{i: i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}