In [2]:
import numpy as np

In [4]:
array1 = np.array([[0, 1], [10, 11], [20, 21]], float)
array1

array([[ 0.,  1.],
       [10., 11.],
       [20., 21.]])

In [6]:
nums = [0, 1, 10, 11, 20, 21]
array2 = np.array(nums, float).reshape([3, 2])
array2

array([[ 0.,  1.],
       [10., 11.],
       [20., 21.]])

In [7]:
array2 * 2

array([[ 0.,  2.],
       [20., 22.],
       [40., 42.]])

In [8]:
array2 * array2

array([[  0.,   1.],
       [100., 121.],
       [400., 441.]])

In [16]:
array3 = np.array([0, 1, 2,10, 11, 12, 20, 21, 22], float)
array3

array([ 0.,  1.,  2., 10., 11., 12., 20., 21., 22.])

In [18]:
array3 = array3.reshape(3, 3)
array3

array([[ 0.,  1.,  2.],
       [10., 11., 12.],
       [20., 21., 22.]])

In [20]:
array3[0]

array([0., 1., 2.])

In [21]:
array3[-1]

array([20., 21., 22.])

In [22]:
array3[::-1]

array([[20., 21., 22.],
       [10., 11., 12.],
       [ 0.,  1.,  2.]])

In [23]:
array3[2, 1]

21.0

In [24]:
array3[:,1] # the second column

array([ 1., 11., 21.])

In [25]:
...

Ellipsis

In [26]:
array3[...,1]

array([ 1., 11., 21.])

In [28]:
array4 = np.array(range(120), int).reshape(2, 3, 4, 5)
array4

array([[[[  0,   1,   2,   3,   4],
         [  5,   6,   7,   8,   9],
         [ 10,  11,  12,  13,  14],
         [ 15,  16,  17,  18,  19]],

        [[ 20,  21,  22,  23,  24],
         [ 25,  26,  27,  28,  29],
         [ 30,  31,  32,  33,  34],
         [ 35,  36,  37,  38,  39]],

        [[ 40,  41,  42,  43,  44],
         [ 45,  46,  47,  48,  49],
         [ 50,  51,  52,  53,  54],
         [ 55,  56,  57,  58,  59]]],


       [[[ 60,  61,  62,  63,  64],
         [ 65,  66,  67,  68,  69],
         [ 70,  71,  72,  73,  74],
         [ 75,  76,  77,  78,  79]],

        [[ 80,  81,  82,  83,  84],
         [ 85,  86,  87,  88,  89],
         [ 90,  91,  92,  93,  94],
         [ 95,  96,  97,  98,  99]],

        [[100, 101, 102, 103, 104],
         [105, 106, 107, 108, 109],
         [110, 111, 112, 113, 114],
         [115, 116, 117, 118, 119]]]])

In [29]:
array4[0, 1]

array([[20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [30]:
array4[0, ..., 1]

array([[ 1,  6, 11, 16],
       [21, 26, 31, 36],
       [41, 46, 51, 56]])