In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (7.3.0)
Requirement already satisfied: sqlparse in /Users/akrisanov/Library/Python/3.7/lib/python/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.9.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (1.6)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: appnope; sys_platform == "darwin" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (40.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/site-packages/wcwidth-0.1.7-py3.7.egg (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in /usr/local/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.4)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/site-packages (2.8.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
%sql postgresql://akrisanov:developer@localhost:5432/bookbuilding_development

'Connected: akrisanov@bookbuilding_development'

In [10]:
%sql DROP table datacamp;

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
Done.

[]

In [11]:
%%sql CREATE table datacamp(
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL,
    instructor VARCHAR(100) NOT NULL,
    topic VARCHAR(20) NOT NULL
)

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
Done.

[]

In [15]:
%%sql INSERT INTO datacamp(name, instructor, topic) VALUES
    ('Deep Learning in Python', 'Andrey Krisanov', 'Deep Learning'),
    ('SQL For Dummies', 'Random Randomly', 'SQL')

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
2 rows affected.

[]

In [16]:
%sql SELECT * FROM datacamp;

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
2 rows affected.

[(1, 'Deep Learning in Python', 'Andrey Krisanov', 'Deep Learning'),
 (2, 'SQL For Dummies', 'Random Randomly', 'SQL')]

In [17]:
%sql UPDATE datacamp SET name = 'Joining Data in PostgreSQL', instructor = 'Chester Ismay' WHERE id = 2;

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
1 rows affected.

[]

In [18]:
%sql SELECT * FROM datacamp;

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
2 rows affected.

[(1, 'Deep Learning in Python', 'Andrey Krisanov', 'Deep Learning'),
 (2, 'Joining Data in PostgreSQL', 'Chester Ismay', 'SQL')]

In [19]:
%sql INSERT INTO datacamp(name, instructor, topic) VALUES ('Lorem', 'ipsum', 'dolor')

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
1 rows affected.

[]

In [20]:
%sql DELETE FROM datacamp WHERE name = 'Lorem'

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
1 rows affected.

[]

In [21]:
%sql SELECT * FROM datacamp;

 * postgresql://akrisanov:***@localhost:5432/bookbuilding_development
2 rows affected.

[(1, 'Deep Learning in Python', 'Andrey Krisanov', 'Deep Learning'),
 (2, 'Joining Data in PostgreSQL', 'Chester Ismay', 'SQL')]