In [13]:
%load_ext sql

In [14]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/site-packages (0.9.6)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import sqlalchemy

In [16]:
from sqlalchemy import create_engine, MetaData

In [17]:
engine = create_engine('postgresql://akrisanov:developer@localhost:5432/bookbuilding_development')

In [18]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/akrisanov/Library/Python/3.7/lib/python/site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/site-packages (from pandas) (1.16.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

In [20]:
df = pd.read_sql('select * from datacamp', engine)

In [21]:
df.head()

   id                        name       instructor          topic
0   1     Deep Learning in Python  Andrey Krisanov  Deep Learning
1   2  Joining Data in PostgreSQL    Chester Ismay            SQL

In [23]:
# or
new_df = %sql select * from datacamp

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
new_df.DataFrame().head()